.file-upload-preview {
  width: 100%;
  max-height: 300px;
  overflow: hidden
}

.thumbnail-container {
  overflow: hidden;
  border: 1px solid;
}
.thumbnail {
  width: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}

.datepicker {
  z-index: 20;
}

